<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>New avengers project</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css') }}">
        <script src="https://kit.fontawesome.com/518be8d87f.js" crossorigin="anonymous"></script>
    </head>
    <header>
        <div class="div1">
            <h1> <img src="static/img/logo2.png" alt="logo Avengers" width=40 height=30> Tela de seleção de heroi</h1>
        </div>
    </header>
    <body class="background">
        <div class="div1">
            <p>Escolha entre uma lista de herois, ou pesquise por herois especificos, 
                então clique em <strong>Selecionar</strong> para enviar o heroi a uma lista de possiveis candidados.
                Clique em <strong>Home</strong> para voltar a pagina inicial ou em <strong>Candidatos</strong> para 
                acessar a lista de possiveis candidatos.
            </p>
            <div class="divbutton"><a href = "{{ url_for('home') }}"><button class="button-49" role="button">Home</button></a></div>
            <div class="divbutton"><a href = "{{ url_for('select') }}"><button class="button-49" role="button">Candidatos</button></a></div>
        </div>
        <div class="box">
            <form name="search" action="/search" method="post">
                <input type="text" class="form-control form-visual" id="search" name="search" onmouseout="this.value = ''; this.blur();">
            </form>
            <i class="fas fa-search"></i>
        
        </div>
        <div class="row row-cols-1 row-cols-md-3">
            {% for hero in heroes %}
                <div class="card mb-4" style="width: 20rem;">
                    <form action="/selecting" method="post">
                        <fieldset style="border-color: transparent;">
                            <div class="form-group">
                                <img src="{{ hero.picture }}" class="card-img-top" style="object-fit: cover; height: 16rem; margin-top: 10px;" alt="{{ hero.name }}">
                                <input type="hidden" value="{{ hero.picture }}" id="picture" name="picture" class="form-control">
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <h5 class="card-title"><input type="hidden" value="{{ hero.name }}" id="name" name="name" class="form-control">{{ hero.name }}</h5>
                                </div>
                                <div class="form-group">
                                    <p class="card-text" style="object-fit: cover; height: 10rem;"><input type="hidden" value="{{ hero.description }}" id="description" name="description" class="form-control">{{ hero.description }}</p>
                                </div>
                                <div class="form-group buttons">
                                    <button type="submit" class="btn btn-danger btn-salvar">Selecionar</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            {% endfor %}
        </div>
            
            
            <footer>
                <div class="bottom">
                    <div class="center">
                        <span class="credit">Criado por Nicolas Gomes de Souza Reis</a></span>
                        <span class="far fa-copyright"> 2023</span>
                    </div>
                </div>
            </footer>
    </body>
</html>